In [2]:
import graphlab

In [3]:
sf = graphlab.SFrame('resource/people.csv')

Finished parsing file /Users/surenot/Documents/workspace/surenot/machine-learning/coursera-foundation-python/week1/resource/people.csv

Parsing completed. Parsed 7 lines in 0.030151 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/surenot/Documents/workspace/surenot/machine-learning/coursera-foundation-python/week1/resource/people.csv

Parsing completed. Parsed 7 lines in 0.012305 secs.

In [4]:
sf          # Print data as a table
sf.head()   # Print head of the data
sf.tail()   # Print tail of the data

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | Age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [5]:
sf.show()         # Open canvas in browser

Canvas is accessible via web browser at the URL: http://localhost:51841/index.html
Opening Canvas in default web browser.

In [6]:
graphlab.canvas.set_target('ipynb')
sf['Age'].show(view='Categorical')

In [7]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [8]:
sf['Age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

In [9]:
sf['Age'].mean()

23.142857142857146

In [10]:
sf['Age'].max()

25

In [11]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | Age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [12]:
sf['Country'].show()

In [13]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [14]:
transform_country('Brasil')

'Brasil'

In [15]:
transform_country('USA')

'United States'

In [16]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [19]:
sf['Country'] = sf['Country'].apply(transform_country)
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	Age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | Age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]